{% extends "final/padre.html" %}
{% load static %}
{% block contenido_que_cambia %} 

<div class="container">

    <h1 class="fw-bolder mb-1" style="text-align: center; font-size: 36px; color: #E25E3E;">{{blog.titulo}}</h1>

    {% if blog.imagen %}

        <h5 class="fw-bolder mb-1" style="color: #E25E3E;">Portada: </h5>
        <p><img src="{{blog.imagen.url}}" style="width: 700px; height: 350px;" alt="blog"></p>

    {% endif %}

    <p><h5 class="fw-bolder mb-1" style="color: #E25E3E;">Autor: </h5> {{blog.autor}}</p>
    <p><h5 class="fw-bolder mb-1" style="color: #E25E3E;">Contenido: </h5> {{blog.contenido}}</p>
    
</div>
<br>
<div class="container">
    <h4>Comentarios...</h4>
    <br>
    <div class="container">
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <hr>
    <a href="{% url 'comentario' pk=blog.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>
{% endblock %}