<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Traveling</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'final/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">Traveling</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'sobremi' %}">Sobre mi</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'blog' %}">Blog</a></li>
                        {% if user.is_authenticated %}
                        <p><li class="nav-link active">Bienvenido {{ user.username }}</li></p>
                        <img src="{{ avatar }}" alt="avatar" style="width:50px;height:50px; text-decoration-color:black">
                        <li class="nav-item"><a class="btn btn-secondary" aria-current="page" href="{% url 'editarPerfil' %}">Editar Perfil</a></li>
                        <li class="nav-item"><a class="btn btn-secondary" aria-current="page" href="{% url 'logout' %}">Log out</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'register' %}">Registrar</a></li>
                        <li class="nav-item"><a class="btn btn-secondary" aria-current="page" href="{% url 'login' %}">Log in</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    {% block contenido_que_cambia %}
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">CONOCE LOS MEJORES LUGARES PARA VIAJAR</h1>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                        </header>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p>En esta página web vas a poder encontrar lugares por el mundo increíbles para poder vacacionar y relajarse en familia, con amigos o incluso solo vos. </p>
                            <h2 class="fw-bolder mb-1">Perú</h2>
                            <p>Perú ofrece a sus visitantes una gran variedad de experiencias únicas, desde playas, selvas y montañas hasta gastronomía, música y danza. Es un destino ideal para aquellos que quieren explorar el corazón de América del Sur.</p>
                            <h2 class="fw-bolder mb-1">Colombia</h2>
                            <p>Tiene una oferta turística basada en la tradición y la conservación de sus paisajes y tradiciones cafetaleras. Es posible hospedarse en bellas haciendas en medio de los inmensos cafetales, vivir el proceso de producción del grano, además de disfrutar de parques temáticos alrededor de la cultura cafetera.</p>
                            <h2 class="fw-bolder mb-1">Brasil</h2>
                            <p>Brasil ofrece varias opciones de turismo entre ellas: actividades de aventura, ecoturismo, turismo de negocios y eventos, fiestas populares, de sol y playa, deportes, buceo, pesca y diversos patrimonios de la humanidad.</p>
                            <h2 class="fw-bolder mb-1">Mexico</h2>
                            <p>México ofrece una amplia gama de opciones turísticas entre las que se encuentran los destinos de playa, sitios históricos, sitios de eco-aventura, deportes extremos; recorridos culturales, etc. México cuenta con 1,964,375 km2 de territorio de los cuales 11,122 km son costa.</p>
                        </section>
                    </article>
                    {% endblock %}
                    
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Otros paises</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Brasil</a></li>
                                        <li><a href="#!">Ecuador</a></li>
                                        <li><a href="#!">Colombia</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Mexico</a></li>
                                        <li><a href="#!">Paraguay</a></li>
                                        <li><a href="#!">Uruguay</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>