{% extends "final/padre.html" %}
{% load static %}
{% block contenido_que_cambia %} 

<article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1" style="color: #E25E3E;">Mis redes</h1>



    </header>
       
    <section>


        <p>Hola me llamo Miguel y esta es mi pagina web sobre lugares donde la gente pueda vacacionar y tambien donde pueden publicar sus experiencias en un blog cuando se registran. Dejo a continuación mis redes por donde pueden comunicarse conmigo y ayudarme a mejorar este proyecto.</p>


    </section>
   
    <section class="mb-5">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Agrega aquí cualquier estilo CSS adicional que desees para los íconos -->
            <style>
                .social-icon {
                    font-size: 24px;
                    margin-right: 10px;
                }
            </style>
        </head>
        <body>
           
            <!-- Reemplaza los enlaces y los íconos con los de tus redes sociales -->
            <a href="https://www.facebook.com/tucuenta" target="_blank">
                <i class="social-icon fab fa-facebook"></i> Facebook
            </a>
            <br>
            <a href="https://twitter.com/tucuenta" target="_blank">
                <i class="social-icon fab fa-twitter"></i> Twitter
            </a>
            <br>
            <a href="https://www.instagram.com/tucuenta" target="_blank">
                <i class="social-icon fab fa-instagram"></i> Instagram
            </a>
            <br>
            <a href="https://www.linkedin.com/in/tucuenta" target="_blank">
                <i class="social-icon fab fa-linkedin"></i> LinkedIn
            </a>
           
            <!-- Asegúrate de incluir la biblioteca Font Awesome para los íconos -->
            <!-- Puedes obtenerla en https://fontawesome.com/ -->
            <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        </body>
    </section>
</article>
{% endblock %}